@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*espaçamento das paginas*/
  
/* Pagina 1 */
#page1 {
    background-image: url("./assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#button {
    background-color: #269c99;
    text-decoration: none;
    color: #000;
    padding: 20px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 20px;

    transition: ease-in-out;
    transition-duration: .2s;
}

#button:hover {
    background-color: #157b78;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #fff;
    padding-top: 20px;
}


.cont {
    margin: 55px 20px 55px 20px;
    font-size: 20px;
    font-weight: bold;
}

#grean-triangle{
    background-color: #269c99;
    width: 100%;
    height: 6vw;
    clip-path: polygon(50% 0%, 0 100%, 100% 100%);
    
}

/* Pagina 2 */
#page2 {
    background-color: #269c99;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#black-triangle{
    background-color: #111111;
    width: 100%;
    height: 6vw;
    clip-path: polygon(50% 100%, 100% 0, 0 0);

}

#table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#table-content {
    display: grid;
    /*para desktop: minmax 300px, para mobile: minmax 400px*/
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 150px;
    max-width: 800px;
}

#button2 {
    background-color: #111111;
    text-decoration: none;
    color: #269c99;
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 100px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 20px;

    transition-duration: .2s opacity 0.5s ease-in-out;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: 50px;
}

.item > img{
    width: 200px;
}

#button2:hover {
    background-color: rgb(24, 24, 24);
    color: rgba(255, 255, 255, 0.793);
}

#graybar{
    background-color: #111111;
    width: 100%;
    height: 8vw;
}

/* Pagina 3 */
#page3{
    background-image: url("./assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#greenbar{
    background-color: #269c99;
    width: 100%;
    height: 8vw;
}

.panel {
    background-color: #269c99;
    color: black;
    border-radius: 30px;
    width: 90vw;
    padding: 15px;
    margin: 20px;
    margin-bottom: 140px;
    font-size: 30px;
    line-height: 40px;
}

.trapezoid-green {
    width: 100%;
    height: 8vw; /* Altura do trapézio */
    background-color: #269c99;
    /*clip-path: polygon(5% 0, 95% 0, 100% 100%, 0 100%);*/
    clip-path: polygon(5% 0, 95% 0, 100% 100%, 0 100%);
    margin-bottom: -1px; /* Remove a linha de 1px abaixo do trapézio */

    /*clip-path: polygon(15% 0, 85% 0, 100% 100%, 0 100%);
    o exemplo acima, ajustamos as coordenadas no clip-path para criar um trapézio com lados mais verticais. Agora, as coordenadas (15% 0) correspondem ao canto superior esquerdo, (85% 0) ao canto superior direito, (100% 100%) à parte inferior direita e (0 100%) à parte inferior esquerda.*/
  }

     
/* Pagina 4 */
#page4 {
    background-color: #269c99;
}

/*temporario*/
.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.container > img{
    border-radius: 100%;
    max-inline-size: 100%;
    block-size: auto;
    margin: 130px 0 30px -6vw;
}

.trapezoid-gray {
    width: 100%;
    height: 8vw; /* Altura do trapézio */
    background-color: #111111;
    clip-path: polygon(5% 100%, 95% 100%, 100% 0, 0 0);
    margin-bottom: -1px;
    
}

#info{
    background-color: #111111;
    color: #fff;
    width: 100%;
    clip-path: polygon(0% 0%, 96% 0, 100% 50%, 96% 100%, 0% 100%);
}

#info-content{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 40px;
}

#copy{
    background-color: #111111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

#copy > p{
    margin: 30px;
}

/* Pagina 5 */
#page5 {
    background-color: #269c99;
}

#depoimentos{
    background-color: #111111;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 40px 0 40px 0;
    margin: 80px;

    clip-path: polygon(4% 0, 100% 1%, 100% 100%, 4% 100%, 0% 50%);


}

#YT{
    width: 30vh;
    margin: 20px 0 20px 0;
}

/*animations*/
.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
  
.slide {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.5s, transform 0.5s;
}
  
.slide.active {
    opacity: 1;
    transform: translateX(0);
}


@media (max-width: 966px) {
    #table-content {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
}